<div class="pets-list">
  
  <% @user_pets.each do |pet| %>
  <div class="pet-booking-info">
    
    <div class="pet-dashboard-card">
      <%= link_to pet_path(pet) do %>
        <%= cl_image_tag pet.photo.key, id: "pet-avatar", crop: :fill %>
      <% end %>
      <p id="name"><%= pet.name %></p>

    </div>
    <div class="pet-bookings-list">
        <% pet.bookings.each_with_index do |booking, index| %>
          <div class="pet-booking-item">
            <div class="booking-dates">
              <p><strong>Booking # <%= index + 1 %></strong></p>
              <ul class="list-inline">
                <li class="list-inline-item">From: <%=  booking.start_date.strftime('%A, %b %d') %></li>
                <li class="list-inline-item">To: <%=  booking.end_date.strftime('%A, %b %d') %></li>
              </ul>
              
            </div>
            <div class="booking-status">
              <ul class="list-inline">
                <li class="list-inline-item">
                  Requested By: <%=  "#{booking.user.first_name} #{booking.user.last_name}" %>
                </li>
                <li class="list-inline-item">
                  Request status: 
                  <% if booking.confirmed.nil? %> 
                    <%= 'Pending' %> 
                    <%= link_to 'Accept', accept_booking_path(booking), class: "btn-acd" %>
                    <%= link_to 'Deny', deny_booking_path(booking), class: "btn-acd" %>     
                  <% elsif booking.confirmed %>
                    <%= 'Accepted' %>  
                  <% else %>
                    <%= 'Denied' %>
                  <% end %>
                </li>
              </ul>
            </div>

          </div>
        <% end %>
    </div>
  </div>
  <% end %>
</div>