<div class="pets-list">
  
  <% @user_pets.each do |pet| %>
  <div class="pet-booking-info">
    
    <div class="pet-dashboard-card">
      <%= link_to pet_path(pet) do %>
        <%= cl_image_tag pet.photo.key, id: "pet-avatar", crop: :fill %>
      <% end %>
      <p id="name"><%= pet.name %></p>

    </div>
    <div class="pet-bookings-list">
        <% pet.bookings.each_with_index do |booking, index| %>
          
          <div class="pet-booking-item">
            
            <div class="booking-data">
              <p><strong>Booking # <%= index + 1 %></strong></p>
              <p class="booking-line"><i class="far fa-clock"></i> <%=  booking.start_date.strftime('%A, %b %d') %> - <%=  booking.end_date.strftime('%A, %b %d') %></p>    
              <p class="booking-line"><i class="fas fa-user-circle"></i> <%=  "#{booking.user.first_name} #{booking.user.last_name}" %></p>
            </div>
            
            <div class="booking-status">
                  <p class="booking-line">
                    <% if booking.confirmed.nil? %> 
                      <p>
                        <i class="far fa-question-circle"></i> <%= 'Pending' %> 
                        <%= link_to 'Accept', accept_booking_path(booking), class: "btn-acd" %>
                        <%= link_to 'Deny', deny_booking_path(booking), class: "btn-acd" %>     
                      </p>
                    <% elsif booking.confirmed %>
                      <i class="far fa-check-circle"></i> <%= 'Accepted' %>  
                    <% else %>
                      <i class="fas fa-times-circle"></i> <%= 'Denied' %>
                    <% end %>
                  </p>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <% end %>
</div>