<div class="container" style="padding: 16px 0;">
  <div class="row">
    <div class="pet-show-card col-12 col-lg-6">
      <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill, style: "border-radius: 5px;" %>
      <div class="pet-show-details">
        <h3>About <%= @pet.name %></h3>
        <div class="pet-show-description">
          <%= @pet.description %>
        </div>
        <ul class="pet-show-info">
          <li><i class="fas fa-paw"></i> <%= @pet.species %></li>
          <li><i class="fas fa-tag"></i> <%= @pet.price_per_day %>€ / day</li>
          <li><i class="fas fa-map-marker-alt"></i> <%= @pet.location %></li>
          <li>
            <% if @pet.available %>
              <p><i class="fas fa-check"></i> Available</p>
            <% else %>
              <p><i class="fas fa-times"></i> Not available</p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="pet-form col-12 col-lg-6">
      <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h2>Pick your dates</h2>
        <div class="widget-content" data-unavailable="<%= @pet.unavailable_dates.to_json %>">
          <div class="dates">
            <%= simple_form_for [@pet, @booking] do |f| %>
              <%= f.input :start_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
              <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
              <%= f.button :submit, "Book your friend now!", class: "main-btn", style: "width: 100%" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="show-button">
      <%= link_to 'Back to all pets', pets_path, class: "main-btn" %>
    </div>
  </div>
</div>
