<h1> <%= @pet.name %> </h1>
<p>Species: <%=  @pet.species %> </p>
<p>Age: <%=  @pet.age %> </p>
<p>Description: <%=  @pet.description %> </p>
<p>Price per day: <%=  @pet.price_per_day %> </p>
<p>Location: <%=  @pet.location %> </p>
<p>Availability: <%=  @pet.available%> </p>
<%= link_to 'Back to all pets', pets_path %>
