 <div class="banner">
  <h1>Rent a pet </h1>
  <div class="d-flex justify-content-center">
    <div class ="search">
      <%= form_tag pets_path, id: "search-form", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          style: "width: 300px",
          placeholder: "Search by species or location..." %>
        <%= submit_tag "Search", class: "search-btn" %>
      <% end %>
    </div> 
   </div>
</div>


<h1>How it works</h1>

<div class = "description">
  <div class = "card"> 
    <h2>Find a pet</h2>
    <p>There are so many <br>
     lovely pets here. <br>
     There is a perfect <br>
     one for you as well. <br> 
     Take a Look!
    </p>
  </div>
  <div class = "card"> 
    <h2>Send a request</h2>
    <p>When you have found the<br>
     perfect pet for you - just<br>
     push the button to book it.   
    </p>
  </div>
  <div class = "card"> 
    <h2>Pick up a pet</h2>
    <p> Its time to shine! <br>
    Pick up your booked <br>
    pet and have the best <br>
    time of your life.
    </p>
  </div>
</div>
<br>

<h1>Pets of the day</h1>

   <div class="pets-grid">
    <% @pets.sample(3).each do |pet| %>
      <div class="card-trip">
        <%= cl_image_tag pet.photo.key, height:240, width: 240, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to pet.name, pet_path(pet) %></h2>
          </div>
          <h2 class="card-trip-pricing"><%= pet.price_per_day %> € / day</h2>
        </div>
      </div>
    <% end %>





